<!DOCTYPE html>
<html>

<head>
    <title>Interfaz con jQuery Mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

    <!-- Página principal -->
    <div data-role="page">

        <!-- Barra de navegación -->
        <div data-role="header" data-position="fixed">
            <h1>Interfaz con jQuery Mobile</h1>
        </div>

        <!-- Contenido de la página -->
        <div role="main" class="ui-content">
            <form id="formulario" action="/insertar" method="post">
                <div data-role="fieldcontain">
                    <label for="campo1">No serie:</label>
                    <input type="text" id="noSerie" name="noSerie">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo2">Marca:</label>
                    <input type="text" id="Marca" name="marca">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo3">Modelo:</label>
                    <input type="text" id="Modelo" name="modelo">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo4">Procesador:</label>
                    <input type="text" id="procesador" name="procesador">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo5">RAM:</label>
                    <input type="text" id="ram" name="ram">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo6">Almacenamiento:</label>
                    <input type="text" id="campo6" name="almacenamiento">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo7">Pulgadas:</label>
                    <input type="text" id="campo7" name="pulgadas">
                </div>
                <div data-role="fieldcontain">
                    <label for="campo8">Tarjeta Grafica:</label>
                    <input type="text" id="campo8" name="tarjetaGrafica">
                </div>
                <button type="submit" data-theme="b">Guardar</button>
            </form>
        </div>

        <ul data-role="listview">
            <% laptops.forEach(laptop=>{ %>
              <li data-role="collapsible" data-iconpos="right" data-inset="false">
                    <h2>
                        <%= laptop.modelo %>
                    </h2>
                    <ul data-role="listview" data-theme="b">
                        <li>Marca: <%= laptop.marca %></li>
                        <li>CPU: <%= laptop.procesador %></li>
                        <li>Almacenamiento: <%= laptop.almacenamiento %> GB</li>
                        <li>Ram: <%= laptop.ram %> GB</li>
                        <li>GPU: <%= laptop.tarjetaGrafica %></li>
                        <li><button href="/buscar/<%= laptop.noSerie%>" class="ui-btn ui-btn-inline">Buscar</button></li>
                    </ul>
                    <% }) %>
            </li>
        </ul>

        <!-- Pie de página -->
        <div data-role="footer" data-position="fixed">
            <h4>Laptops</h4>
        </div>
    </div>

</body>

</html>